html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-o-text-size-adjust:100%;text-size-adjust:100%}
body{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #eee));background:-webkit-linear-gradient(top, #ccc 0%, #eee 100%);background:-moz-linear-gradient(top, #ccc 0%, #eee 100%);background:-o-linear-gradient(top, #ccc 0%, #eee 100%);background:linear-gradient(top, #ccc 0%, #eee 100%);font:14px/1.5em 'Helvetica Neue',Helvetica,Arial,sans-serif}
header,footer{background-color:#5f5f5f;color:#d5e04e;font-weight:bold;padding:10px 20px}
header{height:100px;position:relative;border-bottom:1px solid #333;}
header a{color:#d5e04e;}
header a:visited{color:#a9b420}
header a:hover{color:#e2e983}
header a:focus{outline:thin dotted}
header a:hover,header a:active{outline:0}
header a{position:absolute;bottom:10px;left:20px}
header img{float:right}
footer{border-top:1px solid #333;}
footer p{font-size:10px}
#main{background-color:#fff;border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 -1px 5px 0 #333;-moz-box-shadow:0 -1px 5px 0 #333;-o-box-shadow:0 -1px 5px 0 #333;box-shadow:0 -1px 5px 0 #333;margin:auto 0;margin:40px 20px;max-width:620px;padding:20px 80px;}
#main a{color:#221f72;}
#main a:visited{color:#181650}
#main a:hover{color:#3c36c8}
#main a:focus{outline:thin dotted}
#main a:hover,#main a:active{outline:0}
#main h1{color:#221f72;font-size:24px;font-weight:300;padding:2em 0 .5em 0;text-transform:uppercase}
#main h2{color:#5f5f5f;font-weight:700;font-size:18px;padding-top:.5em}
#main ul{background-color:#f2f6ca;border:1px solid #d5e04e;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 0 5px #d5e04e;-moz-box-shadow:inset 0 0 5px #d5e04e;-o-box-shadow:inset 0 0 5px #d5e04e;box-shadow:inset 0 0 5px #d5e04e;margin:.5em 0;padding:1.2em}
#main li{line-height:1em;margin-bottom:.5em}
#main ol{list-style-position:inside;list-style-type:decimal;padding:.5em 1.2em 0;}
#main ol li{font-weight:500}
#main p{color:#202020}
@media only screen and (max-device-width: 480px){#main{padding:20px}
}